{% extends 'base.html.twig' %}

{% block title %}City Weather!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-4">
                <form class="form-inline text-center first-child" onsubmit="findCities(); return false;" role="form" id="citySearch" action="#" method="get">
                    <div class="form-group">
                        <label class="sr-only" for="city_search_string">Search</label>
                        <input   class="form-control" id="city_search_string" name="cityName" placeholder="Coventry">
                    </div>
                    <button type="submit" class="btn btn-color" ><i class="fa fa-question-circle"></i> Search</button>
                </form>

                <div class="dropdown"></div>
            </div>
        </div>

        <div id="weatherContainer"></div>
    </div>

    <script>
        function findCities() {

            var param = document.getElementById('city_search_string').value;
            $.ajax({
                type: "GET",
                url: "{{ path('citysearch') }}",
                data: {'citySearch': param },
                success: function (data) {
                    $('.dropdown').html(data);
                    $('.dropdown-menu').show();
                }
            })
            return false;
        }

        function viewWeatherForCity(cityId)
        {
            $.ajax({
                type: "GET",
                url: "{{ path('weather') }}",
                data: {'cityId': cityId },
                success: function (data) {
                    $('#weatherContainer').html(data);
                    $('.dropdown-menu').hide();
                }
            })
            console.log(cityId);
        }

        //hide on click away
        $(document).on("click", function(event) {
            var $trigger = $(".dropdown");
            if ($trigger !== event.target && !$trigger.has(event.target).length) {
                $(".dropdown-menu").hide();
            }
        });
    </script>

    <style>
        .city-list {
            list-style: none;
            background-color: whitesmoke;
            border: 1px solid darkgrey;
            padding: 10px;
        }
    </style>
{% endblock %}
